.skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    font-family: Inter, sans-serif;
    font-size: 1.7rem;
    color: black;
    width: 100vw;
    margin: 0 0;
    padding: 0 0;
}

.skills-headline-box {
    background-color: #312C54;
    width: 100vw;
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 2.5rem;
    margin-top: 0;
    margin: 60px;
    font-family: Andada Pro, sans-serif;;
    color: #E0E0E0;
    text-align: center;
    line-height: 50px;
}


.skills-logos ul{
    max-width: 900px;
    max-height: 400px;
    column-count: 5;
    /*display: inline-block;*/
    margin-bottom: 2rem;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.skills-logos a{
    display: inline-block;
    padding: 2rem;
   
}
.skills-logos img{
    max-height: 100px;
    max-width: 100px;
   
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.footer-text {
    font-family: Andada Pro, sans-serif;
    max-width: 1000px;
    text-align: center;
    padding: 40px 40px;

}

.contact-logos-bottom ul{
    display: flex;
    margin-bottom: 4rem;
    padding: 0;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact-logos-bottom a{
    padding: 2rem;
   
}
.contact-logos-bottom a img{
    max-height: 50px;
    max-width: 50px;
   
}