@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=Inter:wght@300&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #667C26 ; /*#DD571C orange,  #312C54 purple, fern green #667C26*/
    font-family: Inter, sans-serif;
    font-size: 1.7rem;
    color: white;
    min-height: 100vh;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.main-nav ul {
    display: flex;
    margin: 60px;
    padding: 0;
    list-style: none;

}

.main-nav a {
    font-family: Andada Pro, sans-serif;
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}

.main-nav a:hover {
    color: #adadad;
}

/* Maybe does not do anything at all */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px; /* This makes sure it is not glued to the top*/
}

.container {
    margin: 0 0;
    padding: 0 0;
    flex-grow: 1;
}